<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link type="text/css" rel="stylesheet" href="./static/style_color_select.css">

        <title>Ecole Nationale d'Administration</title>
    </head>

    <body>
        <h1>Choose a color : </h1>
        <button class="color-btn" id="btn-0"></button>
        <button class="color-btn" id="btn-1"></button>
        <button class="color-btn" id="btn-2"></button>
        <button class="color-btn" id="btn-3"></button>

        <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <script src="./static/color_select.js"></script>
    </body>

</html>